[submodule "vim/pack/cyberspeck/start/YouCompleteMe"]
	path = vim/pack/cyberspeck/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
